
nav, main {display: block;}

body{
  font-family: Arial, "Times New Roman", Times, san serif;
  font-size: 30;
  color: #000000;
}
p { width: 60%; }

ul li {
list-style-type: circle;
line-height: 200%;
margin-left: 100px;
}

ol li {
list-style-type: numbers;
line-height: 180%;
width: 65%;
}

h1 {
  font-family: "Bauhaus 93", Georgia, Times, serif;
  font-size: 50;
  font-weight: bold;
  color: green;
}

h2 {
font-size: 25px;
font-weight: bold;
color: orange;
text-align: center;
margin-top: 30px;
}

h3 {
font-size: 14px;
font-weight: bold;
color: #000000;
text-align: left;
margin-top: 30px;
}

h4 {
font-size: 14px;
font-weight: bold;
color: green;
text-align: 2000px;
margin-top: 30px;
}


p .italic{
  font-style: italic;
  font-weight: bold;
  font-size: 30;
}

a:link {color: green; text-decoration: none;}
a:visited { color: green; background: red; }
a:hover { color: blue; text-decoration: underline;}
a:active { color: green; font-weight: bold;}

main a:link {color: green; text-decoration: underline;}

nav {
width: 23%;
height: 700px;
margin: 0;
border-right: 1px solid #000000;
font-weight: normal;
margin-top: 150px;
}

main {
width: 70%;
float: right;
padding: 0 0 20px 20px; /*top right bottom left*/
margin-top: -20px;
}

img {float: right; margin: 10px; margin-bottom: 50px; margin-right:20%; border 2px solid red; border-radius: 35px;}


@media screen and (max-width: 625px) {

		nav {
		clear: both;
		width: 100%;
		border-right: 0px;
		text-align: center;
		height: 50px;
		}

		main {
		width:100%;
		margin-top: 0px;
		padding: 0px 0px;
		}

    img {width: 150px; height: 300px; margin: 5px;}

    ul li {
    list-style-type: none;
    padding: 5px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-top: 200px

    }

    ol li {
    list-style-type: numbers;
    line-height: 150%;
    margin-left: 50px;
    width: 100%;
    }

    h2 {text-align: center;}

    p { width: 100%; margin-right: 0px; }


    nav a:link {color: white; text-decoration: none; display: block; background-color: #D67979}
  	nav a:visited { color: white; background: red; display: block; background-color: #D67979}
  	nav a:hover { color: blue; text-decoration: underline; background-color:#ABABC7;}
}


@media screen and (max-width: 370px) {

	img {display: none;}

}
